name: Deploy dbt Docs

on:
  push:
    branches:
      - main  # или master, если у тебя основная ветка так называется

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dbt (with Postgres adapter)
        run: pip install dbt-postgres

      - name: Install uv (optional, если используешь uv)
        run: pip install uv

      - name: Install dbt package dependencies
        run: dbt deps

      - name: Generate dbt docs
        run: dbt docs generate

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: target
